<header class="navigation">
    <a class="navigation-title">
				<a href="/" class="block sb-navbar-siren">
					<div class="height-100 label-inline">
						<img src="./../../assets/icons/logo.svg" alt="Starbucks">
					</div>
			  </a>
    </a>
    <nav class="flex flex-auto items-stretch justify-between pl3 md-pl4">
        <ul class="whiteSpace-truncate flex-auto sb-navbar-list">
            <li class="inline-block pl2 md-pl3"><a class="py2 m1 block text-noUnderline text-upper text-bold text-xxs"
                    href="#popover-grid"
                    data-popover="">Docs</a></li>
            <li class="inline-block pl2 md-pl3"><a class="py2 m1 block text-noUnderline text-upper text-bold text-xxs"
                    href="#popover-support"
                    data-popover="">Support</a></li>
        </ul>
    </nav>
</header>