.card {
    margin-left: 10px;
}

.line {
    height: 100%;
    border-left: 5px solid #3798F9;
    margin-right: 5px;
    border-radius: 5px;
}

i.icon.add {
    opacity: .5;
    margin-right: 1rem;
}