:host {
	.sb-heading--large {
		font-size: 2.6rem;
		line-height: 1.385;
		padding-bottom: 0 !important;
	}

	ul {
		list-style-type: none;
		padding: 0;
		li {
			&.sb-heading--small {
				font-size: 1.9rem;
				line-height: 1.263;
				margin-bottom: .8rem !important;
				cursor: pointer;
			}
		}
	}
}
